<div id="site-container">
  <div id="landing-intro">

    <div id="landing-container">
    <%= video_tag('ink_drop.mp4', autoplay: true, loop: :true, class: 'movie') %>
      <span id="name-container">
        JESUS MOLINA
      </span>
    </div>
    <span id="arrow-span">
      <%= image_tag("downwards-arrow.png", id: "arrow-pic") %>
    </span>
  </div>

  <div id="photo-container">
    <nav id="nav" class='active'>
      <span id="nav-name">
        JESUS MOLINA
      </span>
      <!-- This span underneath exists only for the on scroll underline animation -->
      <span class='nav-underline-span'></span>
    </nav>

    <div id="lower-main-container">

     <!--  <div id="left-click">
        <% if @page > 1 %>
          <%= link_to "PREV", (next_path(@link - 2) + "/#individual-photo") %>
        <% end %>
      </div> -->

      <div id="sidescrolling-container-buffer">
        <div id="sidescrolling-container">
          <% @pics.each do |photo| %>
            <% @pic_id = photo.id%>
            <% @photo_url = Photo.where(id: @pic_id)[0].url %>
            <% @photo_position = photo.landscape %>
            <div class="individual-photo-div" data-url="<%= @photo_url %>" data-position="<%= @photo_position %>"  data-page-max="<%= @page_max %>">

              <img class="actual-image" src="<%= photo.url %>" height='250px' width="250px">
              <span id="photo-title"><%= photo.title.upcase %></span>
            </div>
          <% end %>
        </div>
      </div>

      <!-- These are only necessary if JavaScript is off in the browser.  Therefore they will remain here for the time being -->

      <!-- <div id="right-click">
        <% if @page < @page_max %>
          <%= link_to "NEXT", (next_path(@link) + "/#individual-photo"), id: "next_button" %>
        <% end %>
      </div> -->

      <!-- The Modal -->
      <div id="myModal-flex" class="modal-flex">

        <!-- Modal content -->
        <div class="modal-content-flex">

        <!-- THIS IS IMPORTANT: .close-flex should have an &times; inside the html when the user clicks an image -->

          <span class="close-flex"></span>
          <img id='modal-image'>
        </div>
      </div>

      <footer id="contact-footer">
        <span id="footer-overhead-line-span-container">
          <span class="footer-overhead-line-span"></span>
        </span>
        <span id="footer-span" class="footer-span-direction">
          CONTACT
          <span id="hidden-social">
            <a class='social_media_link' href='#' target='_blank'><img id='facebook' class='social_media_icon' src='../assets/social_media_icons/white_fb_transparent_circle.png'></a>
            <a class='social_media_link' href='https://www.google.com' target='_blank'><img id='twitter' class='social_media_icon' src='../assets/social_media_icons/white_twitter_transparent_circle.png'></a>
            <a class='social_media_link' href='#' target='_blank'><img id='instagram' class='social_media_icon' src='../assets/social_media_icons/white_ig_transparent_circle.png'></a>
            <a class='social_media_link' href='https://www.google.com' target='_blank'><img id='mail' class='social_media_icon' src='../assets/social_media_icons/white_mail_transparent_circle.png'></a>
          </span>

          <span id="contact-underline-span">
          </span>
        <span>
      </footer>

    </div>
  </div>
</div>


